{% extends 'base.html' %}
{% block content  %}

<div class="d-flex justify-content-center">
<div class="col-md-4">
  <div class="card card-warning">
    <div class="card-header">
      <h3 class="card-title"><strong> DETAILS DE L'ABONNEMENT </strong> </h3>

      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
        </button>
      </div>
      <!-- /.card-tools -->
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <p><strong>Date d'abonnement:</strong>   {{ abonnement.date_creation }}</p>
      <p><strong>Numero d'abonné:</strong>   {{ abonnement.numero_abonnement }}</p>
      <p><strong>Numero de police:</strong>   {{ abonnement.numero_police }}</p>
      <p><strong>Compteur associé:</strong>   {{ abonnement.compteur }}</p>
      <p><strong>Tarif de l'abonnement:</strong>   {{ abonnement.tarif }}</p>
      <p><strong>Ampérage:</strong>   {{ abonnement.tarif.amperage }}</p>
      <p><strong>Abonné:</strong>   {{ abonnement.abonne.nom }}  {{ abonnement.abonne.prenom }}</p>
      <p><strong>Etat Abonnement:</strong>   {{ abonnement.etat_abonnement }}</p>
    </div>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
</div>

{% endblock %}