{% extends 'base.html' %}
{% block content  %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Liste des Ventes effectués</h1>
      </div>
     
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Ventes réaliseés</h3>

            <div class="card-tools">
              <div class="input-group input-group-sm" style="width: 150px;">
                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                <div class="input-group-append">
                  <button type="submit" class="btn btn-default">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
              <thead>
                <tr>
                  <th>Montant</th>
                  <th>TQR</th>
                  <th>Taxe DE</th>
                  <th>Taxe Télé</th>
                  <th>TVA</th>
                  <th>Cout d'énergie</th>
                  <th>Energie payé</th>
                  <th>Code Token</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for item in ventes %}
                <tr>
                  <td>{{item.montant}}</td>
                  <td>{{item.tqr}}</td>
                  <td>{{item.tde}}</td>
                  <td>{{item.tsdaae}}</td>
                  <td>{{item.tva}}</td>
                  <td>{{item.cout_energie}}</td>
                  <td>{{item.energie_paye}}</td>
                  <td>{{item.code_token}}</td>
                  <td>
                    <a href="#">
                    <button type="button" class="btn btn-primary">Détails</button>
                    </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

</div>

{% endblock %}